@model IEnumerable<ReadOnlyBlogPostRequestVM>

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Blog Posts List - Admin Functionality</h1>
    </div>
</div>
<div class="container py-5">
    @{
        if (Model != null && Model.Any())

        {
            <table class="table">
                <thead>
                    <tr>
                        @*<th>@Html.DisplayNameFor(model => model.Id)</th>*@
                        <th>@Html.DisplayNameFor(model => model.Heading)</th>
                        <th>@Html.DisplayNameFor(model => model.PageTitle)</th>
                        <th>@Html.DisplayNameFor(model => model.isVisible)</th>
                        <th>@Html.DisplayNameFor(model => model.Tags)</th>
                        <th>Action</th>

                        @*
                                        <th>@Html.DisplayNameFor(model => model.Content)</th>
                            <th>@Html.DisplayNameFor(model => model.ShortDescription)</th>
                            <th>@Html.DisplayNameFor(model => model.FeaturedImgUrl)</th>
                            <th>@Html.DisplayNameFor(model => model.UrlHandle)</th>
                            <th>@Html.DisplayNameFor(model => model.PublishedDate)</th>
                            <th>@Html.DisplayNameFor(model => model.Author)</th>
                        *@
                    </tr>
                </thead>
                <tbody class="">
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>@Html.DisplayFor(modelItem => item.Id)</td>*@
                            <td>@Html.DisplayFor(modelItem => item.Heading)</td>
                            <td><strong>@Html.DisplayFor(modelItem => item.PageTitle)</strong></td>
                            <td>@Html.DisplayFor(modelItem => item.isVisible)</td>
                            <td>

                                <div class="d-flex flex-wrap justify-content-start">
                                    @foreach (var tag in item.Tags)
                                    {
                                        <span class="btn btn-secondary p-0 m-1">
                                            @Html.DisplayFor(modelItem => tag.Name)
                                        </span>
                                    }
                                </div>
                            </td>
                            <td>
                                <div class="d-flex flex-row justify-content-start">
                                    <a class="link-dark p-1"
                                       asp-controller="AdminBlogPosts"
                                       asp-action="Update"
                                       asp-route-id="@item.Id">
                                        Edit
                                    </a>
                                    <a class="link-danger p-1"
                                       asp-controller="AdminBlogPosts"
                                       asp-action="Delete"
                                       asp-route-id="@item.Id">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-@TempData["AlertType"]" role="alert">
               @TempData["AlertMessage"]
            </div>
        }
    }
</div>


                    @*
                    <td>@Html.DisplayFor(modelItem => item.Content)</td>
                    <td>@Html.DisplayFor(modelItem => item.ShortDescription)</td>
                    <td>@Html.DisplayFor(modelItem => item.FeaturedImgUrl)</td>
                    <td>@Html.DisplayFor(modelItem => item.UrlHandle)</td>
                    <td>@Html.DisplayFor(modelItem => item.PublishedDate)</td>
                    <td>@Html.DisplayFor(modlItem => item.Author)</td>
                        *@