@model IEnumerable<ReadOnlyTagRequestVM>

<div class="py-2 mb-5 mt-2">
    <div class="container">
        <h2>Show all Tags - Admin Functionality</h2>
    </div>
</div>

<form asp-controller="AdminTags"
      asp-action="Index"
      method="get">
    <div class="container mb-3">
        <div class="row">
            <div class="col col-md-3 d-flex">
                <!--name="searchQuery" is what filters down the results-->
                <input class="form-control" type="text" name="searchQuery" placeholder="Search tags..." value="@ViewBag.SearchQuery" />
                <button class="btn btn-secondary ms-3">Search</button>
            </div>
        </div>
    </div>
</form>


<div class="container">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    @*<th>Id</th>*@
                    <th>

                        @Html.DisplayNameFor(item => item.Name)

                        <span>                         
                            @if (ViewBag.SortDirection == "Desc")
                            {
                                <a asp-controller="AdminTags"
                                   asp-action="Index"
                                   asp-route-sortBy="DisplayName"
                                   asp-route-sortDirection="Asc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-chevron-compact-up text-dark"></i>
                                </a>                            
                            }
                            @if (ViewBag.SortDirection == "Asc" || ViewBag.SortDirection is null)
                            {
                                <a asp-controller="AdminTags"
                                   asp-action="Index"
                                   asp-route-sortBy="DisplayName"
                                   asp-route-sortDirection="Desc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-chevron-compact-down text-dark"></i>
                                </a>
                            }
                        </span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(item => item.DisplayName)
                        <span>
                            @if (ViewBag.SortDirection == "Desc")
                            {
                                <a asp-controller="AdminTags"
                                   asp-action="Index"
                                   asp-route-sortBy="DisplayName"
                                   asp-route-sortDirection="Asc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-chevron-compact-up text-dark"></i>
                                </a>
                            }
                            @if (ViewBag.SortDirection == "Asc" || ViewBag.SortDirection is null)
                            {
                                <a asp-controller="AdminTags"
                                   asp-action="Index"
                                   asp-route-sortBy="DisplayName"
                                   asp-route-sortDirection="Desc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-chevron-compact-down text-dark"></i>
                                </a>
                            }
                        </span>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tag in Model)
                {
                    <tr>
                        @*<td>@tag.Id</td>*@
                        <td>@Html.DisplayFor(model => tag.Name)</td>
                        <td>@Html.DisplayFor(model => tag.DisplayName)</td>
                        <td>

                            <a class="btn btn-warning"
                               asp-controller="adminTags"
                               asp-action="Edit"
                               asp-route-id="@tag.Id">
                                Edit
                            </a>
                            <a class="btn btn-danger"
                               asp-controller="adminTags"
                               asp-action="Delete"
                               asp-route-id="@tag.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No tags found!</p>
    }
</div>

